@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local(''),
		/* from  */
		url('Open+Sans_300.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_300.woff') format('woff'),
		/* from  */
		url('Open+Sans_300.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_300.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local(''),
		/* from  */
		url('Open+Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_400.woff') format('woff'),
		/* from  */
		url('Open+Sans_400.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_400.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local(''),
		/* from  */
		url('Open+Sans_700.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_700.woff') format('woff'),
		/* from  */
		url('Open+Sans_700.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_700.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 800;
	src:
		local(''),
		/* from  */
		url('Open+Sans_800.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_800.woff') format('woff'),
		/* from  */
		url('Open+Sans_800.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_800.svg#') format('svg');
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	src:
		local('Dosis Light'),
		local('Dosis-Light'),
		/* from http://fonts.gstatic.com/s/dosis/v4/piAeziXdjUmpEWux15l7q_esZW2xOQ-xsNqO47m55DA.eot */
		url('Dosis_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/dosis/v4/GpmMKE0dnXylect5ObzLR_esZW2xOQ-xsNqO47m55DA.woff */
		url('Dosis_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/dosis/v4/0b3R8ORT0i9mlMGM3BxXF_esZW2xOQ-xsNqO47m55DA.ttf */
		url('Dosis_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=jQfTTSBIYSWz13x51VUsmPesZW2xOQ-xsNqO47m55DA#Dosis */
		url('Dosis_300.svg#Dosis') format('svg');
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	src:
		local('Dosis Regular'),
		local('Dosis-Regular'),
		/* from http://fonts.gstatic.com/s/dosis/v4/RHp5spKuj-AQOgQKPITXrQ.eot */
		url('Dosis_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/dosis/v4/xIAtSaglM8LZOYdGmG1JqQ.woff */
		url('Dosis_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/dosis/v4/guC5lwT5Dw7anV_xfpCGqw.ttf */
		url('Dosis_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=sDejRsJZPVX8xZ7-AA6xQQ#Dosis */
		url('Dosis_400.svg#Dosis') format('svg');
}
